/* Box sizing rules */
*, *:before, *:after {
    box-sizing: border-box;
}

body, h1, fieldset, button {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-image: url(tapestry-pattern.png); /* subtlepatterns.com */
    color: #555;
    font-family: 'Roboto', sans-serif;
}

/* Everything wrapped in a main grid: one column on smaller and 2 columns on larger screens */
.wrapper {
    display: grid;
}

h1 {
    padding: 0 0 1rem;
    text-align: center;
}

/* Background colour behind form container: left side in 2 column layout */
.left-side {
    background-color: #89cff0;
}

.form-container {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #fffafa;
}

/* Radio button questions: fieldset groups each with its own grid layout */
.radio-field {
    display: grid;
}

.radio {
    padding: 0.5rem 0;
}

.question {
    padding: 2rem 0 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

input[type="number"] {
    display: block;
    margin: 1.2rem 0 2rem;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #115f84;
    color: white;
    font-size: 1.2rem;
}

button:hover {
    border: 2px solid #4b0082;
    background-color: #4b0082;
}

#result {
    padding: 3rem 0;
    color: #4b0082;
    font-size: 1.5rem;
}

.photo-container {
    padding: 0.2rem 0;
}

/* Makes images responsive */
img {
    width: 100%;
    height: auto;
}

/* 2 column layout with images in single column */
@media(min-width: 750px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .form-container {
        padding: 1.5rem;
    }

    .photo-container {
        padding: 1rem;
    }

    img {
        padding: 0 0 2rem;
    }
}

/* 2 column layout with images in their own 2 column grid */
@media(min-width: 1200px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .form-container {
        padding: 3rem;
    }

    .photo-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    img {
        padding: 0;
    }

    .photo1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .photo2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .photo3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}
